.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background: #00467f;
    z-index: 600;
    border : 5px dotted red; 
}
#hywu {
    margin: 0 14px ;
    display:inline-block;
    color: white;
    font-size:12px;
}
p {
    margin: 0;
    color: white;
    font-size:12px;
    display:inline-block;
    border : 1px solid green;
}
body {
    margin: 0;
}
 
._KR {
    background : url(KR.png) no-repeat 0 5px;
}
._EN {
    background : url(EN.png) no-repeat 0 5px;
}
._CH {
    background : url(CH.png) no-repeat 0 5px;
}
._KR, ._CH, ._EN {
    line-height: 24px;
    padding: 0 12px 0 21px;
    display:inline-block;
}
 
 
#right_div {
    position: absolute;
    top: 0;
    right: 10px;
    height: 24px;
    /* border: 1px solid gold; */
}
#dd1 > a {
    margin-left: 2px;
    padding: 0;
    width: 15px;
    height: 26px;
    display: inline-block;
    border : 1px solid yellow;
}
#dd1 {
    border : 2px dotted black;
    line-height : 0%;
}
 
.blog {
    background : url(sns_blog.png) no-repeat center 6px;
}
.facebook {
    background : url(sns_facebook.png) no-repeat center 6px;
}
.instag {
    background : url(sns_instagram.png) no-repeat center 6px;
}
 
 
#home{
    background : url(home.png) no-repeat 0 7px;
}
#login {
    background : url(login.png) no-repeat 0 7px;
}
#sitemap {
    background : url(sitemap.png) no-repeat 0 7px;
}
#dd1 {
    margin-right: 10px;
    /* border : 1px solid yellow; */
}
 
#dd2 > a {
    color: #ffffff;
    padding: 0 10px 0 20px;
    height: 26px;
    line-height: 24px;
    margin-left: 2px;
    font-size:12px;
    display: inline-block;
    border : 1px solid red;
   
}
 
#dd2 {
    /* padding : 0 0 0 0;
    margin : 0 0 0 0;
    border : 1px solid red; */
    /* position: absolute; */
    position : relative;
    left : 10px;
    border : 1px solid yellow;
 
}
a {
    text-decoration: none;
}

